<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="../lib/angular-1.4.js"></script>
    <script type="text/javascript" src="..//lib/angular-ui-router.js"></script>

</head>
<body ng-app="myApp">

    <div ng-controller="IndexController" class="container" style="padding-top: 100px;">
        <form name = "myForm">
            <input type="text" ng-model="key"  />
            <ul>
                <li ng-repeat="l in userList | myFilter:key "><h3>{{l.name |lowercase |capitalize}}</h3></li>
            </ul>
            <br>
            <input type="text" name = "test" ng-model="test" upper required />
        </form>

        {{test}}
    </div>
</body>
<script type="text/javascript" src="index.js"></script>
</html>