<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="../lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../lib/angular-1.4.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.js"></script>
    <script type="text/javascript" src="../lib/underscore.js"></script>
    <style>
        body{
            font-size: 12px;
        }
        .pt_tip{
            padding-top: 5px;
        }
        .myhand{
            cursor: pointer;
        }
    </style>
</head>
<body ng-app="app">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li><a href="#">新建服务费用</a></li>
            <li><a href="#">服务类型</a></li>
            <li class="disabled"><a href="#">费用</a></li>
            <li><a href="#">规则</a></li>
        </ul>
    </div>
</nav>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div  ng-controller="IndexController" class = "container-fluid" style = "padding-top:62px;" >
    <!-- 页面第一部分开始 -->
    <div class="well well-lg">
        <div>
            <h5>1.选择附加服务</h5>
        </div>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon">附加服务</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="必填项，请选择你需要的附加服务。">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <ul class="list-group">
                            <li class="list-group-item">免费域名注册</li>
                            <li class="list-group-item">免费 Window 空间托管</li>
                            <li class="list-group-item">图像的数量</li>
                            <li class="list-group-item">24*7 支持</li>
                            <li class="list-group-item">每年更新成本</li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <ul class="list-group">
                            <li class="list-group-item">免费域名注册</li>
                            <li class="list-group-item">免费 Window 空间托管</li>
                            <li class="list-group-item">图像的数量</li>
                            <li class="list-group-item">24*7 支持</li>
                            <li class="list-group-item">每年更新成本</li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <ul class="list-group">
                            <li class="list-group-item">免费域名注册</li>
                            <li class="list-group-item">免费 Window 空间托管</li>
                            <li class="list-group-item">图像的数量</li>
                            <li class="list-group-item">24*7 支持</li>
                            <li class="list-group-item">每年更新成本</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

        <!--页面第一部分结束 -->
    <form action="" class="form-horizontal" role="form">
        <!-- 页面第二部分开始 -->
        <div class="well well-lg">
            <div>
                <h5>2.确定费用<small>&nbsp;&nbsp;日期&nbsp;描述&nbsp;费用</small></h5>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title ">
                        <small>日期&nbsp;&nbsp;描述</small>
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6  has-success has-feedback">
                            <label for="inputEmail3" class="col-sm-2 control-label">生效日期</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span  class="sr-only">(success)</span>
                            </div>
                            <div class="col-sm-3 pt_tip">
                                <span class = "text-danger">必填项</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 has-error has-feedback">
                            <label  class="col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span  class="sr-only">(error)</span>
                            </div>
                            <div class="col-sm-3 pt_tip">
                                <span class = "text-danger"><small>这里是错误提示信息</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 has-warning has-feedback">
                            <label  class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span  class="sr-only">(error)</span>
                            </div>
                            <div class="col-sm-3 pt_tip">
                                <span class = "text-danger"><small>这里是警告信息</small></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">上传图片</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">基础运价</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title ">
                        <small>费用</small>
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="inputEmail3" class="col-sm-2 control-label">费用</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">检查可用性</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">里程</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">适用于</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">包含扣除</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">净价/销售价</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">或/和</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">里程</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input-sm"  placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label  class="col-sm-2 control-label">金额
                                </label>
                            <div class="col-sm-8">
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>销售地类型</th>
                                        <th>销售地代码</th>
                                        <th>金额</th>
                                        <th>货比类型</th>
                                        <th>操作 &nbsp;&nbsp;&nbsp;
                                            <tb-add tpl = "tb170.html" list = "data.list170VO"></tb-add>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="l in data.list170VO">
                                        <th ng-bind="l.type"></th>
                                        <td ng-bind="l.code"></td>
                                        <td ng-bind="l.money"></td>
                                        <td ng-bind="l.unin"></td>
                                        <td>
                                            <tb-update tpl = "tb170.html" obj = "l" list = "data.list170VO"></tb-update>
                                            &nbsp;&nbsp;
                                            <span ng-click="delRow($index)"  class="glyphicon glyphicon-remove myhand text-danger" aria-hidden="true" data-toggle="tooltip" title="删除"></span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!--页面第二部分结束 -->

        <!-- 页面第三部分开始 -->
        <div class="well well-sm">
            <div>
                <h5>3.规则详细<small>&nbsp;&nbsp;旅客 | 航班  时刻 | 地理信息</small></h5>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title ">
                        <small>优先级序号</small>
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="inputEmail3" class="col-sm-2 control-label">优先级序号</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>旅客</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">旅客类型</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">年龄范围</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">个数范围</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">常旅客状态</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">客户积分范围</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">旅行编码</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">大客户/特殊客户表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">指定客票表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">安全发布表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">公布私有</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>舱位</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">服务等级</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">订座属性表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">升舱到的服务等级</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">升舱属性表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>退款相关</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">退/改</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">退款形式</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">(是否有)代理费</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">是否联程</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>旅行日期</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">开始日期</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">结束日期</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>运价规则</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">是否含税费</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">税费</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">规则</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">指定客票表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">客票舱位表</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>服务应用范围</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">与机票同事出票</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">提前购票时间</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">机型</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">开始时刻</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">结束时刻</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">应用范围</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">星期</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">航班号</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title ">
                    <small>地理信息</small>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">区域限制</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">区域/部分/全程</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">指定区域</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">经停时间</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">经停类型</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">区域1</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">区域2</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="form-group col-sm-6">
                        <label for="inputEmail3" class="col-sm-2 control-label">区域3</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <!--页面第三部分结束 -->
    </form>


</div>





</body>
<script type="text/javascript" src="index.js"></script>
</html>