<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="../lib/angular-1.4.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>
<body ng-app="app">
    <br/>
    <br/>
    <br/>

   <div ng-controller="UserController" class="container">
       <div class="row">
           <div class="col-sm-10">
               sel1:<input type="text" ng-model="sel.sel1"/><br>
               sel2:<input type="text" ng-model="sel.sel2"/><br>
               sel2:<input type="text" ng-model="sel.sel3"/><br>
           </div>
       </div>

       <h2>{{name}}</h2>

       <div class="row" ng-class="">
           <container-div >
               <ul-div sel = "sel1"></ul-div>
           </container-div>
           <container-div >
               <ul-div sel = "sel1"></ul-div>
           </container-div>
           <container-div >
               <ul-div sel = "sel1"></ul-div>
           </container-div>
       </div>

       <input type="text" ng-model="color" placeholder="Enter a color" />
       <hello-world></hello-world>
       <h1>sel1:{{sel.sel1}}</h1>
   </div>

</body>

</html>