<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="../lib/angular-1.4.js"></script>
    <script type="text/javascript" src="index.js"></script>

    <style>
        .red{
            color: red;
        }

    </style>
</head>
<body ng-app="app">
    <br/>
    <br/>
    <br/>

   <div ng-controller="UserController" class="container" >
        <ul>
            <li ng-repeat="l in list">{{l.name}}</li>
        </ul>

       <div >
           <input type="text" placeholder=""/>

           <input type="radio" ng-model="sex"  value = "1"  />男
           <input type="radio" ng-model = "sex" value = "2" />女

       </div>


       <check-servicetype>
           <div ng-class ="{'red': isSelected, 'car': isCar}">hello world</div>
           <div ng-class ="{true: 'active', false: 'inactive'}[isActive]">hello world</div>
       </check-servicetype>



       <button ng-click="clickMe();">click </button>
       sex:{{sex}}

   </div>



</body>

</html>