<!DOCTYPE html>
<html ng-app="app" >
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="../lib/angular-1.4.js"></script>

</head>
<body ng-controller="IndexController">

<div class="col-md-6">
    <form role="form" name="myForm" ng-submit="submitForm(myForm.$valid)" class="form-horizontal" novalidate>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="name">1.必填项</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" id="name" name="name" type="text" required ng-model='user.name' />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.name.$dirty && myForm.name.$valid"></span>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="minlength">2.最小长度=5</label>
            </div>
            <div class="col-md-8">
                <input type="text" id="minlength" name="minlength" ng-minlength="5" ng-model="user.minlength" class="form-control" />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.minlength.$dirty && myForm.minlength.$valid"></span>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="maxlength">3.最大长度=20</label>
            </div>
            <div class="col-md-8">
                <input type="text" id="maxlength" name="maxlength" ng-model="user.maxlength" ng-maxlength="20" class="form-control" />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.maxlength.$dirty && myForm.maxlength.$valid"></span>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="pattern">4. 模式匹配</label>
            </div>
            <div class="col-md-8">
                <input type="text" id="pattern" name="pattern" ng-model="user.pattern" ng-pattern="/^[a-zA-Z]*\d$/" class="form-control" />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.pattern.$dirty && myForm.pattern.$valid"></span>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="email">5. 电子邮件</label>
            </div>
            <div class="col-md-8">
                <input type="email" id="email" name="email" ng-model="user.email" class="form-control" />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.email.$dirty && myForm.email.$valid"></span>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="age">6. 数字</label>
            </div>
            <div class="col-md-8">
                <input type="number" id="age" name="age" ng-model="user.age" class="form-control" />

                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.age.$dirty && myForm.age.$valid"></span>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <div class="col-md-4">
                <label for="url"> 7. URL</label>
            </div>
            <div class="col-md-8">
                <input type="url" id="url" name="url" ng-model="user.url" class="form-control" />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="myForm.url.$dirty && myForm.url.$valid"></span>
            </div>
        </div>
        <div class="form-group  text-center">
            <input class="btn btn-primary btn-lg" ng-disabled="myForm.$invalid" type="submit" value="提交" />
        </div>
    </form>
</div>
<div class="col-md-12">

</body>
<script type="text/javascript" src="index.js"></script>
</html>