<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="../lib/angular-1.4.js"></script>
    <script type="text/javascript" src="../lib/angular-resource.js"></script>
    <script type="text/javascript" src="..//lib/angular-ui-router.js"></script>

</head>
<body ng-app="app">

<div ng-controller="IndexController" class="container" style="padding-top: 100px;">

    <div class="row">
            <button ng-click="testGet();" class="btn col-sm-2">test get</button>
            <div class="col-sm-1"></div>
            <button ng-click="testSave();" class="btn col-sm-2" >test save</button>
            <div class="col-sm-1"></div>
            <button ng-click="testSave2();" class="btn col-sm-2">test save2</button>
    </div>
    <br/>
    <div class="row">
            <button ng-click="testCharge();" class="btn col-sm-2">test charge</button>
            <div class="col-sm-1"></div>
            <button ng-click="add();" class="btn col-sm-2">test add</button>
    </div>

</div>

</body>
<script type="text/javascript" src="index.js"></script>
</html>